:root {
	--bg: #e0e2e4;
	--color-1: #311B92;
	--color-2: #5E35B1;
	--color-3: #673AB7;
	--color-4: #311B92;
	--color-5: #FFE7C7;
	--color-6: #F7D8BA;
	--primary: green;
}

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.2s ease-out;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

input {
	border: 0;
	outline: 0;
	font: inherit;
}

@font-face {
	font-family: 'Hatching Love Demo';
	src: url('fonts/HatchingLoveDemoRegular.woff2') format('woff2'), url('fonts/HatchingLoveDemoRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html, body {
	height: 100%;
}

body {
	background: linear-gradient(125deg, #03c2d5, #0283d6);
	color: white;
	font-size: 20px;
}

a {
	color: green;
}

.container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.section {
	height: 100%;
	padding: 64px;
	/* background: linear-gradient(120deg, rgba(200,200,200,0.2),rgba(20,20,20,0.7)); */
	display: flex;
	align-items: center;
}

.right .instructions {
	width: 500px;
}

.header-container h1 {
	font-size: 4em;
	font-weight: bold;
	text-align: right;
	letter-spacing: 0.5px;
}

.gallery {
	text-align: right;
}

#name-change {
	margin: 32px 0;
	padding: 16px 32px;
	width: 100%;
	border-radius: 50px;
}

.uk-button {
	border-radius: 50px;
	border: 0;
	background: white;
	text-transform: none;
	font-size: 20px;
	padding: 8px 24px;
}
.uk-button:hover {
	background: gray;
}