:root {
	--bg: #e0e2e4;
	--color-1: #311B92;
	--color-2: #5E35B1;
	--color-3: #673AB7;
	--color-4: #311B92;
	--color-5: #FFE7C7;
	--color-6: #F7D8BA;
	--primary: green;
}

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.2s ease-out;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

input {
	border: 0;
	outline: 0;
	font: inherit;
}

@font-face {
	font-family: 'Hatching Love Demo';
	src: url('fonts/HatchingLoveDemoRegular.woff2') format('woff2'), url('fonts/HatchingLoveDemoRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html, body {
	height: 100%;
}

body {
	color: white;
	font-size: 20px;
}

a {
	color: green;
	text-decoration: none !important;
}

.container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.section {
	height: 100%;
	padding: 64px;
	/* background: linear-gradient(120deg, rgba(200,200,200,0.2),rgba(20,20,20,0.7)); */
	display: flex;
	align-items: center;
}

.right .instructions {
	width: 500px;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
}

@keyframes rotateBackgroundImage {
	from {
		background-position: 100% 50%;
	}
	to {
		background-position: 0% 50%;
	}
}

.header-container h1 {
	font-size: 4em;
	font-weight: bold;
	text-align: right;
	letter-spacing: 0.5px;

	background: linear-gradient(to right, #0e59b7, #1137ae, #280b89, #c15b14, #a39819, #0b893a);
	background-size: 400% 400%;
	background-position: 0% 50%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: rotateBackgroundImage 2s ease-out;
}



.gallery {
	text-align: right;
}

#name-change {
	margin: 32px 0;
	padding: 16px 32px;
	width: 100%;
	border-radius: 50px;
}

.uk-button {
	border-radius: 50px;
	border: 0;
	background: white;
	text-transform: none;
	font-size: 20px;
	padding: 8px 24px;
}

.uk-button:hover {
	background: #03c2d5;
}

.open-rooms {
	max-height: 300px;
	overflow-y: auto;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
}

#rooms li div {
	max-width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.join-room {
	border-radius: 50px;
	padding: 0 10px;
	background: #2fd3e2;
	font-size: 0.8em;
	color: white;
	text-shadow: none;
}
.join-room:hover {
	color: white;
	background: blue;
}

canvas.webgl {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	pointer-events: none;
	background: linear-gradient(125deg, #03c2d5, #0283d6);
}

::-webkit-scrollbar {
	width: 12px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #2fd3e2;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #c1e1f3;
}

::-webkit-scrollbar-thumb:active {
	background: white;
}