:root {
	--bg: #23272a;
	--color-1: #2c2f33;
	--color-2: #99aab5;
	--primary: green;
}

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--bg);
	font-family: 'Open Sans', sans-serif;
	color: #eee;
}

button {
	border: 0;
	padding: 8px 16px;
	background: var(--color-2);
	cursor: pointer;
}
input {
	cursor: pointer;
}

.ready-button {
	margin-top: 32px;
	transition: 0.2s;
}
.ready-button:hover {
	background: var(--primary);
}
.ready-button.hide {
	display: none;
}

.drawing-canvas {
	border: 2px solid var(--color-2);
	cursor: none;	
}

.container {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
	grid-gap: 8px;
}

.header {
	background: var(--color-1);
	padding: 32px;
	margin-bottom: 32px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section {
	background: var(--color-1);
}

.right, .left {
	padding: 16px;
}

.paint-option {
	margin-top: 32px;
}
.paint-option input {
	width: 100%;
}
.paint-option label {
	display: block;
}

.minisection {
	padding: 32px;
	margin-bottom: 32px;
	background: rgba(200,200,220,0.1);
}
.minisection.model-image {
	padding: 0;
}
.minisection.model-image h2 {
	padding: 32px;
}

img.model {
	object-fit: cover;
	width: 100%;
	max-width: 100%;
}

ul {
	list-style-type: none;
}

.users-list li.not-ready {
	color: #e6433c;
}
.users-list li.not-ready::after {
	content: " (not ready)";
}
.users-list li.you {
	font-weight: bold;
}